.contenedor {
    display: flex;
        background-color: yellowgreen;

}

.caja {
    border: 2px solid darkkhaki;
    flex: 1;
    padding: 20px;
}

.caja1 {
    background-color: coral;
}

.caja2 {
    background-color: cornflowerblue;
}

.caja3 {
    background-color: darkseagreen;
}

.elemento {
    height: 50px;
    margin-bottom: 10px;
    background-color: blue;
}
body {
  color: red;
  font-family: helvetica;
  background: blue;
  text-align: center;
  font-size: 100px;
  margin:10px;
}